*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.col {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  list-style: none;
}

.nav-menu {
  margin: 19px 14px 0 0;
}

.line {
  border-bottom: 2px solid #1A2236;
  border-left: 20px solid #1A2236;
}

.space-between {
  margin: 4px 0;
}

.headline-name {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 50px;
  line-height: 100%;
  margin: 30px 0 0 0;
}

.headline-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 17px 0 22px 0;
}

.darkblue {
  color: #1A2236;
  font-weight: 400;
}

.headline-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #1A2236;
  width: 100%;
  border: none;
  padding: 12px 0;
}

.headline-bottom-design {
  margin: 32.31px auto;
}
